<h3 class="top1">投稿の見方</h3>
<%= image_tag "camptitle1.png", class:"camp1-image" %>

<h3 class="top2">ログイン状態でできる事</h3>
<ul class="top3">
<li>投稿</li>
<li>ご自身の投稿内容を変更や削除</li>
<li>ご自身のプロフィール確認</li>
<li>ログアウト</li>
</ul>

<h3 class="top4">ログアウト状態でできる事</h3>
<ul class="top5">
<li>投稿の閲覧</li>
<li>ログイン</li>
<li>新規登録</li>
</ul>