<div class="users-back"></div>
<div class="users-show">
  <h4 class="prof">プロフィール</h4>

  <div class="user-user">
    <h3 class="username-title">名前</h3>
      <h3 class="user-name1"><%= @name %></h3>
  <h3 class="useremail-title">Email<h3>
    <h3 class="user-email"><%= @email %></h3>
  </div>
</div>