<div class="recommended">
  <h1 class="recommended-title">薪ストーブ</h1>
  <%= image_tag "mk.png", class: "recommended-mk" %>
    <div class="recommended-title2">
      <h1>商品の説明</h1>
    </div>
    <div class="recommended-top">
      <p>薪ストーブは焚き火とは違い煙突があるので、テント内でも暖をとることができます。</p>
      <p>また、薪ストーブの上で料理することもできるので、暖かいテント内で料理することも可能です。</p>
    </div>
    <p class="recommended-top2">※注意点</p>
    <div class="recommended-top3">
      <p>煙突はありますが、テント内で使用する場合は一酸化中毒に気を付けて換気をしましょう。</p>
      <p>一酸化炭素チェッカーという一酸化炭素を検知してくれる物もあります。</p>
      <p>また、ポリエステル製などの熱や火の粉に弱い生地のテントでは使用しないようにしましょう。</p>
    </div>
</div>