// .camp-back {
//   position: absolute;
//   top: -20px;
//   left: -20px;
//   right: -40px;
//   bottom: -40px;
//   width: auto;
//   height: auto;
//   background-size: cover;
//   -webkit-filter: blur(5px);
//   background-image: url("countryside-camping.jpg");
//   background-attachment: fixed;
//   z-index: 0;
// }

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background-image: url("countryside-camping.jpg");
}

.item-contents > .subtitle {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 20vh;
  right: 1vw;
  text-decoration: none;
  color: green;
  font-weight: bold;
  border: solid 2px green;
  background-color: greenyellow;
}

.item-contents > .subtitle1 {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 30vh;
  right: 1vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 2px green;
  background-color: gainsboro;
}

.item-contents > .subtitle2 {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 40vh;
  right: 1vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 2px green;
  background-color: palevioletred;
}

.item-contents > .subtitle3 {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 40vh;
  right: 1vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 2px green;
  background-color: royalblue;
}

.item-contents > .subtitle4 {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 50vh;
  right: 1vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 2px green;
  background-color: royalblue;
}

.item-contents > .subtitle5 {
  position: absolute;
  z-index: 1;
  width: 15vw;
  font-size: 3vh;
  margin: 1vh 0;
  position: fixed;
  top: 50vh;
  right: 1vw;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: solid 2px green;
  background-color: royalblue;
}

.item-lists {
  // width: 60vw;
  // width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  margin-top: 10px;
  width: 70vh;
  // padding: 1.2vw;
  display: flex;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  width: 20vw;
  height: 10vh;
  background-color: grey;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

// .item-category {
//   font-size: 1.5vh;
//   display: flex;
//   justify-content: space-between;
// }

// .star-btn {
//   display: flex;
//   align-items: center;
// }

// .star-icon {
//   height: 2vh;
//   width: 2vh;
//   margin-right: 0.5vw;
// }

// .star-count {
//   font-size: 2vh;
// }
