.camp-image {
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url("images.jpg");
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
  background-attachment: fixed;
}

.title-1 {
  font-size: 30px;
  margin-left: 20vw;
  margin-top: 20px;
  color: goldenrod;
}

.title-2 {
  font-size: 30px;
  margin-left: 45vw;
  margin-top: 60px;
  color: black;
}

.new-camp {
  position: absolute;
  height: 10vh;
  z-index: 1;
}
.img-upload {
  font-size: 16px;
  height: 50px;
  margin-top: 20px;
  margin-left: 46vw;
}
.form {
  font-size: 50px;
  margin-left: 35vw;
}

.input-text {
  display: block;
  background-color: teal;
  border: 1px solid black;
  margin-top: 20px;
}

.submit-btn {
  width: 50%;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
}

.submit-btn2 {
  width: 30%;
  background: black;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 40px;
}
