.users-show {
  color: black;
}

.prof {
  margin-top: 10vh;
  font-size: 50px;
  border: solid 2px black;
  background-color: cadetblue;
  text-align: center;
}

.user-user {
  background-color: aquamarine;
  margin-top: 10vh;
  border: solid 2px black;
  padding: 50px;
  margin-left: 20vw;
  margin-right: 20vw;
}

.username-title {
  background-color: cyan;
  border: solid 2px black;
  margin-top: 5px;
  font-size: 30px;
  text-align: center;
}

.user-name1 {
  font-size: 20px;
  text-align: center;
}

.useremail-title {
  background-color: cornflowerblue;
  border: solid 2px black;
  margin-top: 10px;
  font-size: 30px;
  text-align: center;
}

.user-email {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
